<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>affair</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TypeServlet</display-name>
    <servlet-name>TypeServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.TypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeServlet</servlet-name>
    <url-pattern>/type</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadGoodServlet</display-name>
    <servlet-name>UploadGoodServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.UploadGoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadGoodServlet</servlet-name>
    <url-pattern>/uploadGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodServlet</display-name>
    <servlet-name>GoodServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.GoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodServlet</servlet-name>
    <url-pattern>/good</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editGoodServlet</display-name>
    <servlet-name>editGoodServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.editGoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editGoodServlet</servlet-name>
    <url-pattern>/editGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockServlet</display-name>
    <servlet-name>StockServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.StockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServlet</servlet-name>
    <url-pattern>/stock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImgServlet</display-name>
    <servlet-name>UploadImgServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.UploadImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImgServlet</servlet-name>
    <url-pattern>/uploadImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StarServlet</display-name>
    <servlet-name>StarServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.StarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StarServlet</servlet-name>
    <url-pattern>/star</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadStarServlet</display-name>
    <servlet-name>UploadStarServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.UploadStarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadStarServlet</servlet-name>
    <url-pattern>/uploadStar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateStarServlet</display-name>
    <servlet-name>updateStarServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.updateStarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStarServlet</servlet-name>
    <url-pattern>/updateStar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Job</display-name>
    <servlet-name>Job</servlet-name>
    <servlet-class>com.lcy.domain.Job</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Job</servlet-name>
    <url-pattern>/Job</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Department</display-name>
    <servlet-name>Department</servlet-name>
    <servlet-class>com.lcy.web.servlet.Department</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Department</servlet-name>
    <url-pattern>/department</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadUserServlet</display-name>
    <servlet-name>UploadUserServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.UploadUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadUserServlet</servlet-name>
    <url-pattern>/uploadUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WordServlet</display-name>
    <servlet-name>WordServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.WordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordServlet</servlet-name>
    <url-pattern>/word</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadWordServlet</display-name>
    <servlet-name>UploadWordServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.UploadWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadWordServlet</servlet-name>
    <url-pattern>/uploadWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadManageUser</display-name>
    <servlet-name>UploadManageUser</servlet-name>
    <servlet-class>com.lcy.web.servlet.UploadManageUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadManageUser</servlet-name>
    <url-pattern>/uploadManageUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMangeUser</display-name>
    <servlet-name>UpdateMangeUser</servlet-name>
    <servlet-class>com.lcy.web.servlet.UpdateMangeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMangeUser</servlet-name>
    <url-pattern>/updateMangeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassroomServlet</display-name>
    <servlet-name>ClassroomServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.ClassroomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassroomServlet</servlet-name>
    <url-pattern>/classroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadExcelServlet</display-name>
    <servlet-name>UploadExcelServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.UploadExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadExcelServlet</servlet-name>
    <url-pattern>/uploadExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParkServlet</display-name>
    <servlet-name>ParkServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.ParkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkServlet</servlet-name>
    <url-pattern>/park</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddParkServlet</display-name>
    <servlet-name>AddParkServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.AddParkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParkServlet</servlet-name>
    <url-pattern>/addPark</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsServlet</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewsServlet</display-name>
    <servlet-name>AddNewsServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.AddNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsServlet</servlet-name>
    <url-pattern>/addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServelt</display-name>
    <servlet-name>PostServelt</servlet-name>
    <servlet-class>com.lcy.web.servlet.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServelt</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LawyerServlet</display-name>
    <servlet-name>LawyerServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.LawyerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LawyerServlet</servlet-name>
    <url-pattern>/lawyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLawyerServlet</display-name>
    <servlet-name>AddLawyerServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.AddLawyerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLawyerServlet</servlet-name>
    <url-pattern>/addLawyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLawyer</display-name>
    <servlet-name>UpdateLawyer</servlet-name>
    <servlet-class>com.lcy.web.servlet.UpdateLawyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLawyer</servlet-name>
    <url-pattern>/updateLawyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LawServlet</display-name>
    <servlet-name>LawServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.LawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LawServlet</servlet-name>
    <url-pattern>/law</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrugServlet</display-name>
    <servlet-name>DrugServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.DrugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrugServlet</servlet-name>
    <url-pattern>/drug</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDrugServlet</display-name>
    <servlet-name>AddDrugServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.AddDrugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDrugServlet</servlet-name>
    <url-pattern>/addDrug</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutServlet</display-name>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.AboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/addAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyServlet</display-name>
    <servlet-name>ApplyServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.ApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyServlet</servlet-name>
    <url-pattern>/apply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportServlet</display-name>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthServlet</display-name>
    <servlet-name>HealthServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.HealthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthServlet</servlet-name>
    <url-pattern>/health</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/question</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocServlet</display-name>
    <servlet-name>DocServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.DocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocServlet</servlet-name>
    <url-pattern>/doc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FamilyServlet</display-name>
    <servlet-name>FamilyServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.FamilyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FamilyServlet</servlet-name>
    <url-pattern>/family</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuifangServlet</display-name>
    <servlet-name>HuifangServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.HuifangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuifangServlet</servlet-name>
    <url-pattern>/huifang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZhuizongServlet</display-name>
    <servlet-name>ZhuizongServlet</servlet-name>
    <servlet-class>com.lcy.web.servlet.ZhuizongServlet</servlet-class>
  </servlet>
  
  
  <servlet>
  	<description>
  	</description>
  	<display-name>RepirServlet</display-name>
  	<servlet-name>RepirServlet</servlet-name>
  	<servlet-class>com.lcy.web.servlet.RepirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RepirServlet</servlet-name>
  	<url-pattern>/repir</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<description>
  	</description>
  	<display-name>FeeServlet</display-name>
  	<servlet-name>FeeServlet</servlet-name>
  	<servlet-class>com.lcy.web.servlet.FeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DothingServlet</display-name>
  	<servlet-name>DothingServlet</servlet-name>
  	<servlet-class>com.lcy.web.servlet.DothingServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BookServlet</display-name>
  	<servlet-name>BookServlet</servlet-name>
  	<servlet-class>com.lcy.web.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddBook</display-name>
  	<servlet-name>AddBook</servlet-name>
  	<servlet-class>com.lcy.web.servlet.AddBook</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>KeepServlet</display-name>
  	<servlet-name>KeepServlet</servlet-name>
  	<servlet-class>com.lcy.web.servlet.KeepServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ImageServlet</display-name>
  	<servlet-name>ImageServlet</servlet-name>
  	<servlet-class>com.lcy.web.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddImage</display-name>
  	<servlet-name>AddImage</servlet-name>
  	<servlet-class>com.lcy.web.servlet.AddImage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditBook</display-name>
  	<servlet-name>EditBook</servlet-name>
  	<servlet-class>com.lcy.web.servlet.EditBook</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditImage</display-name>
  	<servlet-name>EditImage</servlet-name>
  	<servlet-class>com.lcy.web.servlet.EditImage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FeeServlet</servlet-name>
  	<url-pattern>/fee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DothingServlet</servlet-name>
  	<url-pattern>/dothing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookServlet</servlet-name>
  	<url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBook</servlet-name>
  	<url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>KeepServlet</servlet-name>
  	<url-pattern>/keep</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImageServlet</servlet-name>
  	<url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddImage</servlet-name>
  	<url-pattern>/addImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditBook</servlet-name>
  	<url-pattern>/editBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditImage</servlet-name>
  	<url-pattern>/editImage</url-pattern>
  </servlet-mapping>
  
</web-app>